[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
sklearn = "*"
scipy = "*"
category-encoders = "*"
xgboost = "*"
plotly-express = "*"
bokeh = "*"
pickle5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
